<div>
  <h3>Adicionar Nova Manutenção ao Item</h3>
</div>
<form class="example-container" [formGroup]="maintenanceItemForm" (ngSubmit)="addMaintenanceItem(maintenanceItemForm.value)">
  <h2>{{item.name}}</h2>

  <mat-form-field>
    <mat-label>Selecione uma Manutenção</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let maintenance of maintenances" [value]="maintenance.id">{{maintenance.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="period" placeholder="Período de manutenção em meses" formControlName="period">
  </mat-form-field>
  
  <button type="submit" [disabled]="!maintenanceItemForm.valid" mat-button color="primary" >Adicionar</button>
</form>