<div>
    <h3>Adicionar Novo Item ao Computador</h3>
  </div>
  <form class="example-container" [formGroup]="itemComputerForm" (ngSubmit)="addItemComputer(itemComputerForm.value)">
    <h2>{{computer?.name}}</h2>
  
    <mat-form-field>
      <!-- <mat-label>Selecione uma Manutenção</mat-label> -->
      <mat-select name="itemId" placeholder="Selecione um Item" [(value)]="selected" formControlName="itemId">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let item of items" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- <mat-form-field>
      <input matInput name="registrationDate" placeholder="Período de manutenção em meses" formControlName="period">
    </mat-form-field> -->
  
    <!-- <mat-form-field> -->
      <!-- <input matInput name="status" placeholder="Status" formControlName="status"> -->
      <!-- <mat-select name="status" placeholder="Status" [(ngModel)]="selectedStatus" formControlName="status" disabled="true">
        <mat-option [value]="0">Realizada</mat-option>
        <mat-option [value]="1">Atrasada</mat-option>
        <mat-option [value]="2">Pendente</mat-option>
      </mat-select> -->
    <!-- </mat-form-field> -->
    
    <button type="submit" [disabled]="!itemComputerForm.valid" mat-button color="primary" >Adicionar</button>
  </form>
  
  <div>
    <h3>Lista de Itens</h3>
  </div>
  <table mat-table [dataSource]="itemComputers" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.item.name}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="registrationDate">
      <th mat-header-cell *matHeaderCellDef> Data de registro </th>
      <td mat-cell *matCellDef="let element"> {{element.registrationDate}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container> -->
    
    <!-- Position Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-flat-button color="accent" routerLink="/item-detail/{{element.itemId}}" selected>
          <mat-icon>visibility</mat-icon> Detalhe
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  