<div>
  <h3 class="marginTittleForm">Adicionar Novo Computador</h3>
</div>
<form class="example-container marginForm" [formGroup]="computerForm" (ngSubmit)="addComputer(computerForm.value)">
  <mat-form-field>
    <input matInput name="name" placeholder="Nome do Computador" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <textarea  matInput name="description" placeholder="Descrição" formControlName="description"></textarea>
  </mat-form-field>

  <button type="submit" [disabled]="!computerForm.valid" mat-button color="primary" >Adicionar</button>
</form>