<div>
    <h3 class="marginTittleForm">Editar Manutenção do Item</h3>
  </div>
  <form class="example-container marginForm" [formGroup]="maintenanceItemForm" (ngSubmit)="updateItem(maintenanceItemForm.value)">
    <h2>{{itemName}}</h2>

    <h3>{{maintenanceName}}</h3>
  
    <mat-form-field>
      <input type="number" matInput name="period" placeholder="Período de manutenção em meses" formControlName="period">
    </mat-form-field>
  
    <!-- <mat-form-field> -->
      <!-- <input matInput name="status" placeholder="Status" formControlName="status"> -->
      <!-- <mat-select name="status" placeholder="Status" [(ngModel)]="status" formControlName="status" disabled="true">
        <mat-option [value]="0">Realizada</mat-option>
        <mat-option [value]="1">Atrasada</mat-option>
        <mat-option [value]="2">Pendente</mat-option>
      </mat-select> -->
    <!-- </mat-form-field> -->
    
    <button type="submit" [disabled]="!maintenanceItemForm.valid" mat-button color="primary" >Adicionar</button>
  </form>
